/* !-------------------------------------------------------------------
MOMENTANEAL CHANGES*/
main .jumbotron>*{
    background-color: red;
}

.my-cols-container{
    background-color: rebeccapurple;
}

.my-cols-container >*{
    background-color: blue;
    border-left: 1px solid;
    border-right: 1px solid;
}










/* *-------------------------------------------------------------------
GENERAL STYLE */

/* * ROOT */
:root{
    /* ? COLORS */
    --main-text-color:black;
    --lighter-main-text-color: #767676;
    --secondary-text-color:white;
}



/* * TAG HTML */
body{
    font-family: Arial;
    color: var(--main-text-color);
}



/* * CLASSES */

/* ? OTHER */
.my-btn:focus{
    outline: none;
    box-shadow: none;
}





/* *-------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */

/* ? ASIDE */
header aside{
    background-color: var(--main-text-color);
}

header aside .my-img-container img{
    height: 15px;
}


/* ? NAVBAR */
nav{
    font-family: Helvetica;
}



/* * MAIN */
main .jumbotron>*{
    padding-top: 25rem;
}

/* ? UPCOMING GAMES */
#upcoming-games .my-cols-container img{
    border-radius: 1rem;
}




/* * FOOTER */










/* *------------------------------------------------------------------------------------------------------
RESPONSIVENESS */

/* * MD */
@media screen and (min-width:768px){
    /* * SPECIFIC CHANGES */

    /* ? MAIN */
    #ps-introduction .my-img-container{
        width: 50%;
    }
    
    #ps-introduction .my-text-content{
        padding-top: 5rem;
        width: 50%;
    }

    #ps-introduction .my-imgs-container>*{
        width: calc(100%/5 - 1.6rem);
        margin: 0 1rem;
    }

    #ps-introduction .my-imgs-container>*:first-of-type{
        margin-left: 0;
    }

    #ps-introduction .my-imgs-container>*:last-of-type{
        margin-right: 0;
    }
}





/* * LG */
@media screen and (min-width:992px){
    /* * SPECIFIC CHANGES */

    /* ? MAIN */
    #ps-introduction .my-img-container{
        width: 60%;
    }
    
    #ps-introduction .my-text-content{
        width: 40%;
        padding-top: 15rem;
    }
}