/* !-------------------------------------------------------------------
MOMENTANEAL CHANGES*/

.my-cols-container{
    background-color: rebeccapurple;
}

.my-cols-container >*:not(#ps-introduction .my-cols-container>*){
    background-color: blue;
    border-left: 1px solid;
    border-right: 1px solid;
}

#ps-introduction .my-cols-container .my-col.active{
    border-bottom: 3px solid blue;
}

#utilities{
    background-color: blueviolet;
}










/* *-------------------------------------------------------------------
GENERAL STYLE */

/* * ROOT */
:root{
    /* ? COLORS */
    --main-text-color:black;
    --lighter-main-text-color: #767676;
    --secondary-text-color:white;
}



/* * TAG HTML */
body{
    font-family: Arial;
    color: var(--main-text-color);
}



/* * CLASSES */

/* ? OTHER */
.my-btn:focus{
    outline: none;
    box-shadow: none;
}

.my-d-none{
    display: none;
}





/* *-------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */

/* ? ASIDE */
header aside{
    background-color: var(--main-text-color);
}

header aside .my-img-container img{
    height: 15px;
}


/* ? NAVBAR */
header nav{
    font-family: Helvetica;
}

header nav ul .my-nav-link.my-btn{
    width: 5rem;
}

header nav ul .my-nav-link.my-icon{
    width: 2.5rem;
}

header nav ul .my-nav-link .my-icon.my-img-container{
    width: 0.7rem;
}

header nav ul .my-nav-link .my-icon.my-img-container:active img{
    transform: rotate(180deg);
}

header nav ul .my-nav-link .my-icon.my-img-container:hover img.my-d-inline-block{
    display: none;
}

header nav ul .my-nav-link .my-icon.my-img-container:hover img.my-d-none{
    display: inline-block;
}



/* * MAIN */
main .jumbotron{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

main .jumbotron>*{
    padding-top: 350px;
}

/* ? CAROUSEL SECTION */

/* ? Jumbotron Section */
#carousel .jumbotron{
    background-image: url('../assets/img/jumbo-bg.png');
}


/* ? PS INTRODUCTION SECTION */
#ps-introduction .my-cols-container img{
    width: 100%;
}


/* ? JUMBOTRON SECTION */
main>section.jumbotron{
    background-image: url('../assets/img/it-takes-two-hero-banner-desktop.jpg');
}


/* ? UPCOMING GAMES SECTION*/
#upcoming-games .my-cols-container img{
    border-radius: 1rem;
}




/* * FOOTER */

/* ? UTILITIES SECTION */
#utilities .my-logo{
    width: 25%;
}

#utilities .my-language .my-icon.my-img-container{
    width: 1.2rem;
}










/* *------------------------------------------------------------------------------------------------------
RESPONSIVENESS */

/* * SM */
@media screen and (min-width:576px){
    /* * SPECIFIC STYLES */

    /* ? MAIN */
    main .jumbotron>*{
        padding-top: 330px;
    }


    /* ? FOOTER */
    #utilities .my-logo{
        width: 20%;
    }
}





/* * MD */
@media screen and (min-width:768px){
    /* * SPECIFIC STYLES */

    /* ? MAIN */
    main .jumbotron>*{
        padding-top: 300px;
    }

    #ps-introduction .my-img-container{
        width: 50%;
    }
    
    #ps-introduction .my-text-content{
        padding-top: 5rem;
        width: 50%;
    }

    #ps-introduction .my-cols-container>*{
        width: calc(100%/5 - 1.6rem);
        margin: 0 1rem;
    }

    #ps-introduction .my-cols-container img{
        width: 50%;
    }

    #ps-introduction .my-cols-container>*:first-of-type{
        margin-left: 0;
    }

    #ps-introduction .my-cols-container>*:last-of-type{
        margin-right: 0;
    }

    main section.ps-offert .my-img-container{
        width: 40%;
    }
    
    main section.ps-offert .my-text-content{
        width: 60%;
    }


    /* ? FOOTER */
    #utilities .my-logo{
        width: 15%;
    }
}





/* * LG */
@media screen and (min-width:992px){
    /* * SPECIFIC STYLES */

    /* ? MAIN */
    main .jumbotron>*{
        padding-top: 320px;
    }

    #ps-introduction .my-img-container{
        width: 60%;
    }
    
    #ps-introduction .my-text-content{
        width: 40%;
    }

    main section.ps-offert .my-img-container{
        width: 50%;
    }
    
    main section.ps-offert .my-text-content{
        width: 50%;
    }


    /* ? FOOTER */
    #utilities .my-flex-element{
        width: 50%;
    }

    #utilities .my-logo{
        width: 20%;
    }
}